
<app-navbar></app-navbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <div>
      <button mat-button (click)="dojoService.onTrain(playerCreatureName)">
        Run Training Loop ({{ playerCreatureName }})
      </button>

      <mat-form-field [formGroup]="dojoService.dojoFormGroup">
        <mat-label>Player</mat-label>
        <mat-select formControlName="playerFC">
          @for (pc of dojoService.playerCreatures; track pc) {
            <mat-option [value]="pc"> {{ pc.playerName }} - {{ pc.creatureName }} </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field [formGroup]="dojoService.dojoFormGroup">
        <mat-label>Enemy</mat-label>
        <mat-select formControlName="enemyFC">
          @for (ec of dojoService.enemyCreatures; track ec) {
            <mat-option [value]="ec"> {{ ec.playerName }} - {{ ec.creatureName }} </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-sidenav-toggle
      [open]="true"
      (toggle)="sidenav.toggle()"
      class="my-toggle"
    ></app-sidenav-toggle>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
