<mat-toolbar id="navbar-wrapper">
  <div id="navbar-left-wrapper">
    <button mat-button (click)="navigateToDojo()" *ngIf="userInfo">
      Dojo
    </button>

    <button mat-button (click)="navigateToNeurodeck()" *ngIf="userInfo">
      Neurodeck
    </button>
  </div>

  <div id="navbar-right-wrapper">
    <button mat-button (click)="navigateToLogin()" *ngIf="!userInfo">
      Login
    </button>

    <button mat-button (click)="openDialog()" *ngIf="userInfo">
      Settings
    </button>
    
    <button mat-button (click)="logout()" *ngIf="userInfo">
      Logout
    </button>
  </div>
</mat-toolbar>