<div class="p-4">
  <button (click)="onTrain('A')">Run Training Loop (Creature A)</button>
  <button (click)="onTrain('B')">Run Training Loop (Creature B)</button>
</div>

<app-d3-bar-chart [summaryData]="summaryData"></app-d3-bar-chart>

<div class="p-4">
  <button (click)="onTrain('A')">Run Training Loop (Creature A)</button>
  <button (click)="onTrain('B')">Run Training Loop (Creature B)</button>
</div>

<app-nn-graph-19 
  [activations]="activations"
  [isPlaying]="isPlaying"
  (layoutToggled)="onLayoutToggled($event)"
></app-nn-graph-19>

<div class="p-4">
  <button (click)="onTrain('A')">Run Training Loop (Creature A)</button>
  <button (click)="onTrain('B')">Run Training Loop (Creature B)</button>
</div>
