<div class="p-4">
  <button (click)="onTrain()">Run Training Loop</button>
</div>

<button (click)="onTrainingStream()">Run Training (Live Logs)</button>

<app-d3-xy-graph 
  [logs]="logs"
  [statusMessages]="statusMessages"
></app-d3-xy-graph>

<app-d3-bar-chart [summaryData]="summaryData"></app-d3-bar-chart>

<!-- <app-d3-dnn-graph></app-d3-dnn-graph> -->

<!-- <app-nn-graph></app-nn-graph> -->

<!-- <app-nn-graph-2></app-nn-graph-2> -->

<!-- <app-nn-graph-3></app-nn-graph-3> -->

<!-- <app-nn-graph-4></app-nn-graph-4> -->

<!-- <app-nn-graph-5></app-nn-graph-5> -->

<!-- <app-nn-graph-6></app-nn-graph-6> -->

<!-- <app-nn-graph-7></app-nn-graph-7> -->

<!-- <app-nn-graph-8></app-nn-graph-8> -->

<!-- <app-nn-graph-9></app-nn-graph-9> -->

<!-- <app-nn-graph-10></app-nn-graph-10> -->

<!-- <app-nn-graph-11></app-nn-graph-11> -->

<app-nn-graph-12></app-nn-graph-12>

<button (click)="onTrainingStream()">Run Training (Live Logs)</button>
