<mat-toolbar id="login-wrapper">
    <mat-card id="login-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field [formGroup]="loginFG">
          <mat-label>Login Name</mat-label>
          <input 
            formControlName="loginName" 
            matInput 
            (keyup.enter)="login(loginFG.get('loginName')?.value)"
          >
        </mat-form-field>
        
        <div class="error-message" *ngIf="errorMessageLogin()">
          * {{ errorMessageLogin()?.error?.detail }}
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="login(loginFG.get('loginName')?.value)">
          Login
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card id="new-player-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Create New Player</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field [formGroup]="loginFG">
          <mat-label>New Player Name</mat-label>
          <input formControlName="createPlayerName" matInput value="">
        </mat-form-field>

        <br>

        <mat-form-field [formGroup]="loginFG">
          <mat-label>Select Creature</mat-label>
          <mat-select formControlName="createCreature">
            @for (creatureName of Object.keys(creatureTemplate); track creatureName) {
              <mat-option [value]="creatureName"> {{ creatureName }} </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div class="error-message" *ngIf="errorMessageCreate()">
          * {{ errorMessageCreate()?.error?.detail }}
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="create(
          loginFG.get('createPlayerName')?.value, 
          loginFG.get('createCreature')?.value
        )">
          Create
        </button>
      </mat-card-actions>
    </mat-card>
</mat-toolbar>
