<div id="settings-dialog-wrapper">
  <h4 id="settings-dialog-header">Settings</h4>
  <mat-form-field [formGroup]="colorThemeService.colorThemeFormGroup">
    <mat-label>Color Theme</mat-label>
    <mat-select 
      formControlName="colorThemeFC"
      (selectionChange)="colorThemeService.setTheme(
        $event.value,
        lightOrDarkFC.value ? 'dark' : 'light'
    )">
      @for (theme of colorThemeService.themes; track theme) {
        <mat-option [value]="theme"> {{ theme }} </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-checkbox 
    [formControl]="lightOrDarkFC" 
    (change)="colorThemeService.setTheme(
      colorThemeFC.value,
      lightOrDarkFC.value ? 'dark' : 'light'
    )"
  >
    {{ lightOrDarkFC.value ? 'Dark' : 'Light' }}
  </mat-checkbox>

  <hr>

  <!-- Delete Button / Confirmation Section -->
  <div *ngIf="!confirmingDelete; else confirmTemplate">
    <button mat-button color="warn" (click)="showDeleteConfirmation()" *ngIf="userInfo">
      Delete {{ loginService.userInfoSignal()?.name }}
    </button>
  </div>

  <ng-template #confirmTemplate>
    <div class="confirm-delete">
      <p>Are you sure you want to delete <b>{{ loginService.userInfoSignal()?.name }}</b>?</p>
      <div class="confirm-actions">
        <button mat-stroked-button (click)="cancelDelete()">Cancel</button>
        <button mat-flat-button color="warn" (click)="confirmDelete(loginService.userInfoSignal()?.name)">
          Yes, delete
        </button>
      </div>
    </div>
  </ng-template>
</div>
